include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md

recursive-include digneapy *
recursive-include tests *
recursive-include data *
recursive-include examples *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs Makefile make.bat requirements*.txt
