site_name: DIGNEApy

theme:
  name: readthedocs

plugins:
  - search
  - include-markdown
  - gen-files:
      scripts:
        - docs/scripts/generate_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - autorefs
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [digneapy]
          options:
            docstring_style: google
            docstring_section_style: list
            show_docstring_warn: false

nav:
  - Home: index.md
  - Getting Started:
      - Installation: installation.md
      - Overview: tutorial/0_getting_started.md
      - Run an experiment: tutorial/01_eig_example.md
      - Create a domain: tutorial/02_create_domain.md
      - Create an algorithm: tutorial/03_create_algorithm.md

  - Contributing: CONTRIBUTING.md
  - Credits: authors.md
  - License: license.md

  - Reference:
      - Overview: reference/SUMMARY.md
