pip>=24.0
virtualenv>=20.26.2
build>=1.2.1
cibuildwheel>=2.18.1
ruff>=0.14.2
pytest>=8.3.5
coveralls
pybind11>=3.0.1   
cython
coverage>=7.8.0

mkdocs                        
mkdocs-autorefs                
mkdocs-gen-files               
mkdocs-get-deps                
mkdocs-include-markdown-plugin 
mkdocs-literate-nav            
mkdocs-section-index           
mkdocstrings                   
mkdocstrings-python            
Sphinx>=5.0.0
sphinx-rtd-theme
sphinx_copybutton
sphinx_toolbox
sphinx_codeautolink
myst_parser
twine>=5.1.1
jinja2>=3.1.3